@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the library</h1>
    <img src="~/images/books.jpg" height="350" width="900"  />
    <p class="lead">Here you can find all the books you need. Keep reading because - "Smart is the new sexy"!</p>
    <p><a href="~/Books/" class="btn btn-primary btn-lg">Get a book &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fancy buying books?</h2>
        <p>
            The website link below will take you to the world's lagerst book seller website.
        </p>
        <p><a class="btn btn-default" href="https://www.amazon.com/books-used-books-textbooks/b?ie=UTF8&node=283155">Buy Books &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fancy buying books?</h2>
        <p>The website link below will take you to the world's lagerst book seller website.</p>
        <p><a class="btn btn-default" href="https://www.amazon.com/books-used-books-textbooks/b?ie=UTF8&node=283155">Buy Books &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fancy buying books?</h2>
        <p>The website link below will take you to the world's lagerst book seller website.</p>
        <p><a class="btn btn-default" href="https://www.amazon.com/books-used-books-textbooks/b?ie=UTF8&node=283155">Buy Books &raquo;</a></p>
    </div>
</div>