@using Microsoft.AspNet.Identity
@if (Uni_LibraryManagement.Authentication.AuthenticationManager.LoggedUser != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + Uni_LibraryManagement.Authentication.AuthenticationManager.LoggedUser.Email + "!", "Details", "Users", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>@Html.ActionLink("Log out", "LogOut", "Users")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Create", "Users", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Users", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
